.nav-links {
  padding: 20px 0 50px;
  a {
    border-radius: 14px;
    background-color: $black;
    color: $white !important;
    font-size: 14px;
    padding: 10px 20px;
    @media (min-width:$bp3) {
      &:hover {
        background-color: $yellow;
      }
    }
  }
}