.banner {
  background-color: $black;
  padding: 25px 0;
  color: $white;
  @media (min-width:$bp2) {
    padding: 50px 0;
    background-size: 100% auto;
  }
  @media (min-width:$bp3) {
    background-size: 75% auto;
  }
  @media (max-width:$bp2) {
    background-size:  0% !important; 
  }
  a {
    color: $white;
  }
  h1 {
    font-style: normal;
    font-weight: 400;
    line-height: 49px;
    @include fontz(25px, 15);
    @media (min-width:$bp2) {
      padding: 50px 0;
    }
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 50px;
    @media (max-width:$bp2) {
      margin-top: 100px;
      justify-content: center;
    }
    gap: 32px;
    p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      text-transform: capitalize;
      padding: 10px 0 20px;
    }

    &_card {
      width: 290px;
      &-image {
        padding: 60px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border: 1px solid rgba(246, 247, 250, 0.2);
        border-radius: 10px 10px 0px 0px;
        img {
          object-fit: cover;
          width: 200px;
          height: 200px;
          transition: 0.35s;
        }
      }
      @media (min-width:$bp3) {
        &:hover {
          .button {
            background-color: $white;
            border: 1px solid $white;
            color: $black !important;
          }
          img {
            transform: scale(1.1);
          }
        }
    }
      .button {
        transition: 0.35s;
      }
    }
  }
}