.popular {
  padding: 100px 0;
  h3 {
    padding: 25px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
  }

  // .products {
  //   // background-color: red;
  //   display: flex;
  //   gap: 10px;
  //   flex-wrap: wrap;
  //   li {
  //     flex: 1 1 15%;
  //     max-width: 15%;
  //     width: 100%  !important;
  //     margin: 0 !important;
  //   }
  // }
}