.blog , .single-post{
  .news {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px 30px;
    article {
      a {
        color: $black;
      }
      border: 1px solid $gray;
      border-radius: 8px;
      flex: 1 1 100%;
      @media (min-width:$bp2) {
        flex: 0 1 47%;
      }
      @media (min-width:$bp3) {
        flex: 0 1 30%;
        &:hover {
          .wrap-img {
            img {
              transform: scale(1.1);
            }
          }
        }
      }
      h4 {
        font-family: $roboto;
        font-weight: 500;
        @include fontz(20px, 6);
        margin-bottom: 20px;
      }
      .wrap-img {
        border-radius: 8px 8px 0 0;
        display: flex;
        overflow: hidden;
        img {
          transition: 0.35s ease-in-out;
        }
      }
  
      .content {
        padding: 15px 10px;
        @media (min-width:$bp3) {
          padding: 20px;
        }
      }
  
      .dates {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        p {
          font-weight: 300;
          @include fontz(16px, 4);
          line-height: 23px;
        }
      }
    }
  }

  
}