body {
  &.page-template-brands-template {
    .site-main {
      padding: 50px 0;
      h1 {
        font-size: 2em;
        margin-bottom: 20px;
      }

      .letters {
        display: none;
        @media (min-width:$bp2) {
          padding: 20px 0 20px;
          display: flex;
          gap: 20px;
          justify-content: center;
          flex-wrap: wrap;
          position: sticky;
          background-color: $white;
          li {
            a {
              border-radius: 8px;
              width: 50px;
              height: 50px;
              font-weight: bold;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid $gray;
              text-transform: uppercase;
              font-size: 16px;
              color: $black;
              &.scroll {
                &.active {
                  background-color: $yellow;
                  color: $white;
                }
              }
              @media (hover: hover) { 
                &:hover {
                  background-color: $yellow;
                  border: 1px solid $yellow;
                  cursor: pointer;
                  color: $white;
                }
              }
            }
          }
        }
      }

      .result {
        border-top: 1px solid $gray;
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0;
        @media (min-width:$bp2) {
          padding: 20px 50px;
        }

        &__title {
          font-weight: 700;
          font-size: 20px;
          flex: 1 1 100%;
          @media (max-width:$bp2) {
            position: relative;
            &::after {
              content: '';
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              max-width: 100%;
              max-height: 100%;
              transition: .35s ease-in-out;
              margin-left: 10px;
              width: 0;
              height: 0;
              border-color: transparent transparent $black;
              border-style: solid;
              border-width: 0 12px 12px;
              transform: rotate(0deg);
            }

            &.active {
              &::after {
                transform: rotate(180deg);
              }
            }
          }
          @media (min-width:$bp2) {
            flex: 1 1 20%;
          }
        }

        &__content {
          flex: 1 1 100%;
          padding: 10px 0;
          flex-wrap: wrap;
          gap: 5px;
          display: flex;
          @media (min-width:$bp2) {
            padding: 20px 0;
            gap: 20px;  
            flex: 1 1 80%;
            padding:0 0 20px 0;
          }
          &_item {
            flex: 1 1 100%;
            @media (min-width:$bp2) {
              flex: 1 1 46%;
            }    
            @media (min-width:$bp2) {
              flex: 0 1 30%;
            }
            a {
              color: $black;
              @media (max-width:$bp3) { 
                font-weight: bold;
              }
              @media (min-width:$bp3) {
                &:hover {
                  color: $yellow;
                }
              }
            }
          }
        }

        &__wrap-btn {
          display: none;
          @media (min-width:$bp2) {
            display: block;
            flex: 1 1 100%;
            text-align: end;
            span {
              margin-left: auto;
              color: $black;
              font-weight: 700;
              text-transform: uppercase;
              transition: 0.35s;
              @media (hover: hover) {
                &:hover {
                  cursor: pointer;
                  color: $yellow;
                }
              }
            }
          }
        }
       
      }
    }
  }
}