body {
  &.page-template-brands-template {
    .site-main {
      padding: 50px 0;
      h1 {
        font-size: 2em;
        margin-bottom: 20px;
      }

      .letters {
        padding: 20px 0 50px;
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
        li {
          a {
            border-radius: 8px;
            width: 50px;
            height: 50px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $gray;
            text-transform: uppercase;
            font-size: 16px;
            color: $black;
            @media (min-width:$bp3) { 
              &:hover {
                background-color: $yellow;
                border: 1px solid $yellow;
                cursor: pointer;
                color: $white;
              }
            }
          }
        }
      }

      .result {
        border-top: 1px solid $gray;
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0;
        @media (min-width:$bp2) {
          padding: 20px 50px;
        }

        &__title {
          font-weight: 700;
          font-size: 20px;
          flex: 1 1 100%;
          @media (min-width:$bp2) {
            flex: 1 1 20%;
          }
        }

        &__content {
          padding: 20px 0;
          flex: 1 1 100%;
          display: flex;
          gap: 20px;  
          flex-wrap: wrap;
          @media (min-width:$bp2) {
            flex: 1 1 80%;
            padding:0 0 20px 0;
          }
          &_item {
            flex: 1 1 46%;
            @media (min-width:$bp2) {
              flex: 0 1 30%;
            }
            a {
              color: $black;
              @media (min-width:$bp3) {
                &:hover {
                  color: $yellow;
                }
              }
            }
          }
        }

        &__wrap-btn {
          flex: 1 1 100%;
          text-align: end;
          a {
            margin-left: auto;
            color: $black;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
       
      }
    }
  }
}