.tabs { 
  &.wc-tabs{
    // display: none;
  }
}

.product {
  padding: 50px 0;
}






.product-template-default {
  .flex-control-nav {
    padding: 20px 0 !important; 
  }
}

.group {
  line-height: 1.6;
  @media (min-width:$bp2) {
    width: 50%;
    
  }  
  h2 {
    // margin-bottom: 30px;
  }
  p {
    padding: 10px 0;
  }
}

body {
  
  .product-type-variable {
    form {
      flex-direction: column !important;
    }
    .price {
      display: none;
    }

    .woocommerce-variation {
      &.single_variation {
        flex: 1 1 100%;

        .woocommerce-variation-price {
          .price {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
          }
        }
      }
    } 
  }
  
  &.single-product {
    
    // form {
      .summary {
        @media (min-width:$bp2) {
          position: sticky;
          top: 20px;
          padding-left: 50px;
        }
        display: flex;
        flex-wrap: wrap;
        
        .reset_variations {
          display: none;
          padding: 10px 20px;
          background-color: $black;
          max-width: 200px;
          margin: 10px 0;
          cursor: pointer;
        }

        .selects {
          h4 {
            flex: 1 1 100%;
          }
          
          &__buttons {
            padding: 10px 0;
            display: flex;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;

            .button {
              transition: 0.35s;    
              padding: 10px 20px;
              border: 1px solid $black;
              color: $black !important;
              &.variation-button {
                &.active {
                  border: 1px solid transparent;
                  background-color: $yellow;
                }
              }
            

              @media (min-width:$bp3) {
                &:hover {
                cursor: pointer;
                }
              }
            }
          }
        }

        .quantity {
          display: inline-flex;
          button,input {
            border: 1px solid #ccc;
            width: 25px;
            height: 40px;
          }
  
          button {
            color: $black;
            background-color: transparent;
            &:hover {
              cursor: pointer;
            }
            
            &.minus {
              border-top-left-radius: 8px;
              border-bottom-left-radius: 8px;
              border-right: none;
            }
  
            &.plus {
              border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
              border-left: none;
            }
          }
  
         
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
           
          }
  
          /* Firefox */
          input[type=number] {
            pointer-events: none;
            -moz-appearance: textfield;
          }
        }

        .single_add_to_cart_button {
          &.added {
            &::after {
              content : '' !important;
            }
          }
        }

        .single_add_to_cart_button {
          transition: 0.35s;
          max-width: 150px;
          width: 100%;
          border-radius: 14px !important;
          padding: 10px 25px 10px 40px !important;
          text-transform: uppercase;
          &::before {
            position: absolute;
            content: '';
            width: 16.5px;
            height: 18px;
            left: 40px;
            top: 50%;
            transform: translateY(-50%);
            background: url(../assets/button-cart.svg) no-repeat center/cover;
            transition: 0.35s;
          }

          @media (min-width:$bp3) {
            &:hover {
              background-color: $yellow !important;
              color: $black !important;
              &::before {
                filter: invert(100%) sepia(77%) saturate(534%) hue-rotate(2deg) brightness(106%) contrast(107%);
      
              }
            }
          }
         
          @media (min-width: 320px) and (max-width:400px) {
            margin: 10px auto !important;
          }
          background-color: $black !important;
          font-weight: 500 !important;
          line-height: 23px;
          color: #FFFFFF;
        }
        
        .woocommerce-breadcrumb, .product_title, .singl-product-quantity {
          flex: 1 1 100%;
        }

        .woocommerce-breadcrumb {
          font-size: 14px;
        }

        .brand {
          @media (min-width:$bp3) {
            a {
              &:hover {
                box-shadow: 8px 8px 4px 0px rgba(66, 68, 90, 1);
              }
            }
          }
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            min-height: 70px;
            box-shadow: 0 0 2px rgba(0,0,0,0.12);
            img {
              object-fit: cover;
              max-width: 90px;
              max-height: 50px;
              height: 100%;
            }
          }

        }

        .product_title {
          flex: 1 1 70%;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          @include fontz(20px, 14);
          line-height: 1.2;
          color: #000000;
        }

        .singl-product-quantity {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 25px;
          line-height: 37px;
          color: #7D7D7D;
          padding: 25px 0;
        }

        .price {
          flex: 1 1 100%;
          padding: 10px 0;
          color: $black !important;
          bdi { 
            text-decoration: none;
            font-style: normal;
            font-weight: 700;
            @include fontz(25px,15);
            // line-height: 70px;
          }
          del {
            text-decoration: none;
            .woocommerce-Price-amount {
              &.amount {
                font-style: normal;
                font-weight: 600;
                @include fontz(20px,10);
                line-height: 35px;
                text-decoration-line: line-through;
                color: #7D7D7D;
              }
            }
          }
        }

        form {
          display: flex;
          flex: 1 1 100%;
          flex-direction: row;
          .price {
            flex: 1 1 100%;
            display: flex;
            flex-direction: column-reverse;
            text-decoration: none;
            ins{
              text-decoration: none;
              .woocommerce-Price-amount {
                &.amount {
                  font-style: normal;
                  font-weight: 700;
                  @include fontz(25px,15);
                  // line-height: 70px;
                  color: $black;
                }
              }
            }
            del {
              text-decoration: none;
              .woocommerce-Price-amount {
                &.amount {
                  font-style: normal;
                  font-weight: 600;
                  @include fontz(20px,10);
                  line-height: 35px;
                  text-decoration-line: line-through;
                  color: #7D7D7D;
                }
              }
            }
          }

          .single_add_to_cart_button {
            font-weight: 700 !important;
            margin-left: 20px;
          }
        }

        .product_meta {
          a {
            color: $black;
            text-transform: uppercase;
            @media (min-width:$bp3) {
              &:hover {
                color: $yellow;
              }
            }
          }
        }
            
      }
      .related {
        &.products {
          h2 {
            padding: 0 0 20px 0;  
          }
        }
      }
    //   background-color: red !important;
    //   .quantity {
    //     input[type="number"] {
    //       border-radius: 14px;
    //       border: 1px solid #000000;
    //       max-width: 120px;
    //       width: 100%;
    //       display: flex;
    //       align-items: center;
    //       justify-content: center;
    //       min-height: 38px;
    //       height: 100%;
    //     }
    //   }

     
       
    //     @media (min-width: 320px) and (max-width:400px) {
    //       margin: 10px auto !important;
    //     }
    //     background-color: $black !important;
    //     font-weight: 500 !important;
    //     font-size: 20px !important;
    //     line-height: 23px;
    //     text-transform: capitalize;
    //     color: #FFFFFF;
    //   }
    // }
    .single_variation_wrap {
      display: flex;
      font-family: $roboto;
      // align-items: end;
      flex-wrap: wrap;
      gap: 10px;
      .price {
        display: flex;
        flex-direction: column-reverse;
        ins {
          text-decoration: none;
          .woocommerce-Price-amount {
            &.amount {
              font-style: normal;
              font-weight: 700;
              @include fontz(25px,15);
              // line-height: 70px;
              color: $black;
            }
          }
        }
        del {
          text-decoration: none;
          .woocommerce-Price-amount {
            &.amount {
              font-style: normal;
              font-weight: 600;
              @include fontz(20px,10);
              line-height: 35px;
              text-decoration-line: line-through;
              color: #7D7D7D;
            }
          }
        }
      }
    }

    .woocommerce-variation-add-to-cart {
      display: flex;
      width: 100%;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      // .quantity {
      //   input[type="number"] {
      //     border-radius: 14px;
      //     border: 1px solid #000000;
      //     max-width: 120px;
      //     width: 100%;
      //     min-height: 38px;
      //     height: 100%;
      //     display: flex;align-items: center;justify-content: center;
      //   }
      // }

      // button {
      //   transition: 0.35s;
      //   max-width: 150px;
      //   width: 100%;
      //   border-radius: 14px !important;
      //   padding: 10px 25px 10px 40px !important;
      //   &::before {
      //     position: absolute;
      //     content: '';
      //     width: 19.5px;
      //     height: 21px;
      //     left: 20px;
      //     top: 50%;
      //     transform: translateY(-50%);
      //     background: url(../assets/button-cart.svg) no-repeat center/cover;
      //   }
       
      //   @media (min-width: 320px) and (max-width:400px) {
      //     margin: 10px auto !important;
      //   }
      //   background-color: $black !important;
      //   font-weight: 500 !important;
      //   font-size: 20px !important;
      //   line-height: 23px;
      //   text-transform: capitalize;
      //   color: #FFFFFF;
      // }
      

      
    }
  }
}